# Images

*.png
*.tif
*.jpg
*.jpeg
*.pgm
*.ppm
*.gif
*.bmp
*.svg
res/yalefaces/
res/101_ObjectCategories/BACKGROUND_Google/tmp

# Matlab

*.asv
*.mat

# LaTeX / BibTeX

*.aux
*.out
*.toc
*.bbl
*.blg

# Misc / System-specific

*~
*.DS_Store
*.pdf
*.zip
*.gz
*.tgz
*.eye
*.txt
*.log
*.pptx
